body {
    margin: 0px;
    padding: 0px;
    background: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #000000;
}

.topnav {
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

.topnav a {
    transition: 0.5s;
}

.topnav a:hover,
.topnav a.active {
    color: #3cdbc0!important;
}


/* Dropdown */

.dropdown {
    display: inline-block;
}

.dropdown-content,
.side-hide-dropdown {
    display: none;
    position: absolute;
    background-color: #001a72;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li,
.side-hide-dropdow li {
    float: none!important;
    text-align: left!important;
}

.side-hide-dropdown {
    left: 100%;
    top: 10px;
}

.dropdown-content ul li a,
.side-hide-dropdown ul li a {
    color: #ffffff;
    padding: 2em 2em 2em 2em!important;
}

.dropdown-content ul li a:hover,
.dropdown-content ul li a:active,
.side-hide-dropdow ul li a:hover,
.side-hide-dropdow ul li a:active {
    color: #3cdbc0!important;
}

.dropdown:hover .dropdown-content {
    display: block!important;
}

.side-dropdown:hover .side-hide-dropdown {
    display: block!important;
}


/* Menu */

#menu-wrapper {
    overflow: hidden;
    height: 60px;
    background: #001a72!important;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a,
#menu li span {
    overflow: hidden;
    padding: 1em 3em 1em 0em;
    line-height: 60px;
    letter-spacing: 0.10em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.90em;
    font-weight: 300;
    color: #FFF;
}


/* Button Style */

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 1em 2em 1em 2em;
    background: #001a72;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
    transition-duration: 0.5s;
}

.button:hover {
    color: #3cdbc0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p,
ol,
ul {
    margin-top: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #001a72;
}

a:hover {
    text-decoration: none;
}

.container {
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

.header {
    margin-bottom: 4em;
    padding-left: 2em;
    border-left: 6px solid #001a72;
}

.header h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 300;
}

.header span {
    display: block;
    padding-top: 0.50em;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}


/* List Styles */

ul.style2 {
    margin: 0;
    padding-top: 1em;
    list-style: none;
}

ul.style2 li {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0.80em 0 0.80em 0;
    font-family: 0.80em;
}

ul.style2 li:before {
    display: inline-block;
    padding: 4px;
    background: #001a72;
}

ul.style2 a {
    display: inline-block;
    color: #35514f;
}

ul.style2 li:first-child {
    border-top: 0;
    padding-top: 0;
}


/* 2-column */

.tbox1,
.tbox2 {
    width: 588px;
}

.tbox1 {
    float: left;
}

.tbox2 {
    float: right;
}


/* Page */

#page {
    overflow: hidden;
    padding: 5em 0em;
}

#page h3 {
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
}