.u-section-1 .u-shape-1 {
    width: 429px;
    left: auto;
    right: 0;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1027px;
    margin: 75px 56px 75px auto;
}

.u-section-1 .u-image-1 {
    min-height: 469px;
    background-position: 50% 50%;
}

.resize {
    width: 550px;
    height: auto;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px 60px;
}

.u-section-1 .u-text-2 {
    margin: 70px 0 0;
    color: #001a72;
}

.u-section-1 .u-text-3 {
    margin: 40px 0 0;
}

.u-section-2 .u-text-1 {
    width: 680px;
    margin: 52px auto 0;
}

.u-section-2 .u-form-1 {
    height: 338px;
    width: 570px;
    margin: 20px auto 0;
}

.u-section-2 .u-map-1 {
    height: 368px;
    margin-top: 31px;
    margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 60px;
}

.u-section-2 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-2 .u-text-5 {
    margin: 20px 0 0;
}

.msg-sucesso {
    padding-top: 25px;
    text-align: center!important;
    color: #4BB543!important;
}