    #ies_input {
        display: inline-block;
        width: auto;
        background-image: url("../assets/search.png");
        background-size: 10%;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        border: 1px solid grey;
        border-radius: 7px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.14);
    }
    
    .botao-adicionar {
        display: inline-block;
        width: auto;
        margin-bottom: 10px;
        background-image: url("../assets/add.png");
        background-size: 10%;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        cursor: pointer;
        padding: 12px 20px 12px 40px;
        border: 1px solid grey;
        border-radius: 7px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.14);
        color: white;
        background-color: #001a72;
        transition: 0.5s;
    }
    
    .botao-adicionar:hover {
        color: #3cdbc0;
    }
    
    .texto {
        color: #3cdbc0;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: #3cdbc0;
    }
    
    .titulo {
        font-size: 40px;
        color: #001a72;
        padding-bottom: 40px;
    }
    
    .container-lista {
        width: 50%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    
    .tabela {
        width: 100%;
        height: auto;
        border-radius: 17px;
        padding-bottom: 20px;
    }
    
    .tabela-cursos {
        width: 35%!important;
        border-radius: 17px!important;
        display: inline-table!important;
    }
    
    table {
        width: 100%;
        padding: 20px;
        border-radius: 7px;
        border-collapse: collapse;
        box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.14);
    }
    
    table th {
        background-color: #001a72;
        font-size: 25px;
        color: white;
        text-align: center;
        box-shadow: 0 0 1px transparentize( black, 0.9);
        height: 50px;
    }
    
    table td {
        background-color: white;
        color: black;
        text-align: left;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        font-size: 18px;
    }
    
    table tr td a {
        display: block;
    }
    
    table th,
    td {
        border: none;
    }
    
    table th:first-child {
        border-radius: 10px 10px 0 0;
    }
    
    table tr td:hover {
        background-color: #001a72;
        color: #3cdbc0;
    }
    
    table tr td:hover a {
        color: #3cdbc0;
    }