input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
.number-block,
.textarea {
    width: 50%!important;
    padding: 12px 20px!important;
    margin: 8px 0!important;
    display: inline-block;
    border: 1px solid #ccc!important;
    box-sizing: border-box!important;
}

input[type=number].notas {
    display: none;
}

.ies_drop_options {
    width: 50%;
    font-weight: bold;
    padding: 12px 20px;
}

.textarea {
    font-family: sans-serif;
    height: 135px;
}

.notas {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h1 {
    text-align: center!important;
    padding-top: 30px;
}

.tituloedit {
    padding-top: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}

.titulo {
    padding-top: 75px!important;
}

.titulo2 {
    padding-top: 40px;
}

.container {
    text-align: center;
}

button {
    background-color: #001a72;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    transition: 0.5s;
}

button:hover {
    color: #3cdbc0;
}

.msg-erro {
    text-align: center;
    color: #721c24;
}

.msg-sucesso {
    text-align: center!important;
    color: #4BB543!important;
}