input[type=text],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}

.titulo {
    padding-top: 120px;
}

.titulo2 {
    padding-top: 40px;
}

.container {
    text-align: center;
}

button {
    background-color: #001a72;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    transition: 0.5s;
}

button:hover {
    color: #3cdbc0;
}